papers/
iam_forms/
iam_lines/
iam_words/
metadata/
other_ds/

test_lines/
test_words/

main_diploma/

word_mappings.txt
line_mappings.txt
form_statistics.txt

model_params/
archive/
archive/**

mappings_archive/
mappings_archive/**

.idea/
.vscode/

__pycache__/

tests/
tests/**
ukrainian
ukrainian/**

venv/
venv/**
